.header {
  background: $bgSite;
  min-height: var(--header-height);
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid $greyColor;
  position: sticky;
  top: 0;
  z-index: 998;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    @extend %area-click;
    flex-shrink: 0;
    font-weight: bold;
    font-size: var(--fs-4);
    color: $accentColor;
    white-space: nowrap;
    transition: $transition;
    @media (max-width: $sm) {
      font-size: var(--fs-6);
    }
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        opacity: .6;
      }
    }
  }
  &__nav {
    margin: 0 var(--gap-fluid);
    flex-grow: 1;
    @media (max-width: $sm) {
      margin-right: var(--gap);
      margin-left: var(--gap);
    }
    &-list {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      list-style-type: none;
    }
    &-item {
      margin: 0 var(--gap);
      padding: 0;
      @media (max-width: $sm) {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &-link {
      @extend %area-click;
      @media (max-width: $sm) {
        padding: 0 6rem;
      }
      &:hover {
        @media (min-width: $lg-mf) {
        }
      }
    }
  }
  &__btn-appeal {
    flex-shrink: 0;
  }
}