<footer class="@@el footer">
  <div class="container container--size-md footer__container">
    <p class="footer__copyright">botme © 2024</p>
    <nav class="footer__nav" role="navigation">
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <a href="https://www.google.com/" rel="noopener noreferrer" class="footer__nav-link">Контакты</a>
        </li>
        <li class="footer__nav-item">
          <a href="https://www.google.com/" rel="noopener noreferrer" class="footer__nav-link">Поддержка</a>
        </li>
        <li class="footer__nav-item">
          <a href="https://www.google.com/" rel="noopener noreferrer" class="footer__nav-link">Конфиденциальность</a>
        </li>
        <li class="footer__nav-item">
          <a href="https://www.google.com/" rel="noopener noreferrer" class="footer__nav-link">Публичная оферта</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>