<header class="@@el header">
  <div class="container container--size-md header__container">
    <a href="#intro" class="js-anchor header__logo">Botme</a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="https://t.me/botmenews" target="_blank" rel="noopener noreferrer" class="btn btn--theme-transparent-grey btn--size-sm header__nav-link">Новости</a>
        </li>
        <li class="header__nav-item">
          <a href="#faq" class="js-anchor btn btn--theme-transparent-grey btn--size-sm header__nav-link">Информация</a>
        </li>
      </ul>
    </nav>
    <a href="https://t.me/botmeorgbot" target="_blank" rel="noopener noreferrer" class="btn btn--theme-accent-fill btn--size-sm header__btn-appeal">
      <span class="btn__inner">
        <span class="btn__title">Открыть</span>
      </span>
    </a>
  </div>
</header>